<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sleep Outside | Home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="js/main.js"></script>
  </head>

  <body>
    <header class="divider" id="main-header">
      
    </header>
    <main class="divider">
        <li class="cart-item">
        <img src="" alt="" class="cart-img">
        <h3 class="cart-name"></h3>
        <p class="cart-price"></p>
        <button class="remove">Remove</button>
        </li>

    </main>
    <footer id="main-footer">
      
    </footer>
  </body>
</html>
